@keyframes saramon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*by class*/

.absolute-position {
  position: absolute;
  top: 0;
  left: 0;
}

.add-color {
  opacity: 0.80 !important;
  background-color: #34BCE0 !important;
}

.center-content {
  text-align: center;
  margin: 10px;
}

.flex {
  display: flex;
}

.menu-item-width {
  width: 20rem;
  align-items: center;
}

.relative-position {
  position: relative;
}

.saramon {
  animation: saramon-spin infinite 30s linear;
}

/*by id*/
#nav {
  background-image: url('../images/theshire.jpg') ;
  height: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Fondamento', cursive;
}

#title{
  font-size: 120px;
  padding-top: 5%;
  font-weight: bold;
}


#mordor {
  width: 80%;
  border-style: groove;
  border-width: thick;
  margin-top: 2rem;
  margin-left: 3rem;
   margin-bottom: 2rem;
}

#location-description {
  margin-top: 10rem;
  font-size: 18px;
}

.location-container {
  background-color: #34BCE0;
}
