.card-width {
  width: 20rem;
}

#nav {
  background-image: url('../images/theshire.jpg') ;
  height: 20vw;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Fondamento', cursive;
}

#title{
  font-size: 120px;
  padding-top: 5%;
  font-weight: bold;
}
